html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}


/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

/****************The above is reset all style to default*****************/

.main {  margin:0 auto;  width:970px; padding-top:10px; }

.clear {clear:both;}
.clearfix, .main{ display:block;} 

.clearfix:after, .main:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.fl {float:left}

.header {
    height:120px;
    width:960px;
    margin-left:auto;
    margin-right:auto;
    background:#ccc;
}

.header a{
    font:2em bold;
}

.content{
    background:#FD8;
}
.side{
    width:280px;
    min-height:400px;*+height:100%;_height:400px;
    background:#DFA;
}
.posts{
    min-height:400px;*+height:100%;_height:400px;
    background:#ADF;
}
.footer{
    background:#EDF;
}

