html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}


/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

/****************The above is reset all style to default*****************/


.mt10{margin-top:10px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt40{margin-top:40px}
.mt50{margin-top:50px}
.mt60{margin-top:60px}

.ml20{margin-left:20px}
.ml40{margin-left:40px}
.ml60{margin-left:60px}
.ml80{margin-left:80px}
.ml100{margin-left:100px}
.ml120{margin-left:120px}
.ml140{margin-left:140px}
.ml160{margin-left:160px}
.ml180{margin-left:180px}
.ml200{margin-left:200px}

.main {  margin:0 auto;  width:970px; padding-top:10px; }

.clear {clear:both;
    font-size: 0;
    height: 0;
    overflow: hidden;
}

.clearfix, .main{ display:block;} 

.clearfix:after, .main:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.fl {float:left}

.header {
    height:120px;
    width:970px;
    margin-left:auto;
    margin-right:auto;
}

.header a{
    font:2em bold;
    text-decoration:none;
}
.header a:link,a:visited{
    color:#555555;
}
.header a:hover,a:active{
    color:red;
}

.content{
    width:970px;
    margin-left:auto;
    margin-right:auto;
    min-height:350px;*+height:100%;_height:350px;
}

.side{
    width:200px;
    min-height:300px;*+height:100%;_height:300px;
    padding:10px;
    background:#FAD;
}
.posts{
    min-height:400px;*+height:100%;_height:400px;
    padding:10px;
    background:#DAF;
}
.posts dl{
    clear:both;
    width:750px;
    display:block;
    min-height:100px;*+height:100%;_height:100px;
    border:1px solid #eee;
    padding:5px;
}
.footer{
    padding:10px;
}

