<!doctype html>  
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]--> 
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]--> 
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]--> 
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]--> 
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]--> 
<head> 
  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
 
  <title>{{ page.title }}</title> 
  <meta name="author" content="YOUR_NAME" />
  <link href='http://fonts.googleapis.com/css?family=Lato:light,regular,bold' rel='stylesheet' type='text/css'>
  <link href="/css/reset.css" media="screen" rel="stylesheet" type="text/css" /> 
  <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" /> 
  <link rel="alternate" type="application/rss+xml" href="/atom.xml" title="RSS feed">
</head> 
 
    <body> 
        <div id="header">
            <div class="inner">
                <ul>
                    <li><a href="http://weibo.com/alexislm" target="_blank">关注本猿</a></li>
                    <li><a href="/about/">关于本猿</a></li>
                </ul>
                <h1><a href="/">压力就是动力</a></h1>
                <h3>程序猿-超级懒</h3>
            </div>
        </div>
                
        <div id="content" class="clearfix">
            <div class="main">
                {{ content }}
            </div>
            <div class="side">
                <h4><a href="/about/">关于本猿</a></h4>
                    
                <a href="/about/"><img src="/images/me.jpg" alt="ME" /></a>
                <div>
                        This is yet a short description of myself. Try to keep it short. <a href="/about/">更多</a>
                </div>
            </div>
        </div>
        
        <div id="footer" class="clearfix">
            <div class="inner">
                <div class="archives">
                    <h3>Archives</h3>
            
                    <table>
                    {% for post in site.posts %}
                        <tr>
                            <td class="date">{{ post.date | date_to_string }}</td>
                            <td><a href="{{ post.url }}">{{ post.title }}</a></td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        
    </body> 
</html>
