<!doctype html>  
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]--> 
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]--> 
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]--> 
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]--> 
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]--> 
<head> 
  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
 
  <title>{{ page.title }}</title> 
  <meta name="author" content="压力很大同志的Blog" />
  <link href='http://fonts.googleapis.com/css?family=Lato:light,regular,bold' rel='stylesheet' type='text/css'>
  <link href="/css/reset.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" /> 
  <link rel="alternate" type="application/rss+xml" href="/atom.xml" title="RSS feed">
  <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
  <script src="highlight.min.js"></script>
</head> 
 
    <body> 
        <div id="header">
            <div class="inner">
                <ul>
                    <li><a href="http://www.cnblogs.com/Alexander-Lee/">旧BLOG</a></li>
                    <li><a href="http://weibo.com/alexislm" target="_blank">关注本猿</a></li>
                    <li><a href="/about/">关于本猿</a></li>
                </ul>
                <h1><a href="/">囧~压力好大</a></h1>
                <h2>程序猿-超级懒</h2>
            </div>
        </div>
                
        <div id="content" class="clearfix">
            <div class="main">
                {{ content }}
            </div>
            <div class="side">
                <a href="/about/"><img src="/images/me.png" alt="ME" style="width:125px;height:125px" /></a>
                <div>
                        80后，程序猿 ，咕咚网扫地大爷 <a href="/about/">更多</a>
                </div>
            </div>
        </div>
        
        <div id="footer" class="clearfix">
            <div class="inner">
                <div class="archives">
                    <h2>文章列表</h2>
            
                    <table>
                    {% for post in site.posts %}
                        <tr>
                            <td class="date">{{ post.date | date_to_string }}</td>
                            <td><a href="{{ post.url }}">{{ post.title }}</a></td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    <script type="text/javascript">
        hljs.initHighlightingOnLoad();
    </script>
    </body> 
</html>
